header {
	background: black;
	color: white;
}

.browseRsvpDateTime {
	border: solid;
	border-width: 1px;
	border-color: lightgray;
	padding: 5px;
	display: inline-flex;
}

.event {
	border: solid;
	border-color: lightgray;
	border-radius: 5px;
  border-width: 1px;
	margin: 5px;
  padding: 10px;
}

.eventBrowser h3:hover {
	background: lightgrey;
	color: black;
}

.eventRsvp li {
	display: flex;
	margin: 5px;
}

.login {
	background: black;
	color: white;
	margin: 10px;
	padding: 10px;
}

.login button {

}

.login input {
	margin-bottom: 10px;
	margin-top: 10px;
}

.login label {
	font-weight: bold;
}

.navItem {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	vertical-align: top;
}

.navItem:hover {
	background: white;
	color: black;
}

.rsvpCountBar {
	margin-left: 10px;
	width: 100px;
}

.rsvpNegative {
	background: red;
	border-radius: 5px 0px 0px 5px;
	float: left;
	height: 20px;
}

.rsvpPositive {
	background: green;
	border-radius: 0px 5px 5px 0px;
	float: right;
	height: 20px;
}

.switch3w-body {
  background: lightgrey;
  border: solid;
  border-color: grey;
  border-radius: 50px;
	margin-right: 5px; /* for label */
	border-width: 2px 1px 1px 2px;
  width: 150px;
  height: 100px;
  transition: background 1s linear;
}

.switch3w-toggle {
  border: solid;
  border-radius: 48px;
	border-width: 1px 2px 2px 1px;
  background: darkgrey;
  margin-left: 25px;
  height: 95px;
  width: 95px;
  transition: all 500ms ease;
}
