body {
	font-size: 20px;
	text-size-adjust: 100%;
}

header {
	background: black;
	color: white;
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
}

header h1 {
	margin-bottom: -10px;
}

.browseEventOptions {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 5px;
	display: inline-flex;
	float: right;
	margin: 5px;
	margin-top: 25px;
	padding: 5px;
}

.event {
	border: solid;
	border-color: lightgray;
	border-radius: 5px;
  border-width: 1px;
	margin: 5px;
  padding: 10px;
}

.eventBrowser h1 {
	display: inline-block; /* allow items to flow behind */
}

.eventBrowser h3 {
  transition: all 300ms ease;
}

.eventBrowser h3:hover {
	/* background: lightgrey; */
	background-image: linear-gradient(to right, lightgrey, rgba(0,0,0,0));
	border-radius: 5px;
	color: black;
	padding-left: 5px;
}

.eventRsvp {
	margin: 10px;
}

.helpTopic {
	border: solid;
	border-color: lightgray;
	border-radius: 5px;
  border-width: 1px;
  padding: 5px 10px 5px 10px;
}

.highlightable {
	background: white;
	color: black;
  transition: all 300ms ease;
}

.highlightable:hover {
	/* background: black; */
	background-image: linear-gradient(to right, lightgrey, rgba(0,0,0,0));
	border-radius: 5px;
	color: black;
	padding-left: 5px;
}

.login {
	background: black;
	color: white;
	margin: 10px;
	padding: 10px;
}

.login button {

}

.login input {
	margin-bottom: 10px;
	margin-top: 10px;
}

.login label {
	font-weight: bold;
}

.navItem {
	display: inline-block;
	margin: 10px;
	padding: 5px;
  transition: all 300ms ease;
	vertical-align: top;
}

.navItem:hover {
	/* background: white; */
	background-image: linear-gradient(to right, lightgrey, white, white);
	border-style: solid;
	border-radius: 5px;
	border-width: 0px;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

.pickDates {
	margin: 5px;
}

.rollCallDetails {
	border-color: lightgrey;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

.rsvpBar {
}

.rsvpCountBar {
	display: inline-block;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	margin-left: 10px;
  vertical-align: middle;
	width: 100px;
}

.rsvpDetailsButton {
  font-size: 125%;
}

.rsvpList {
	list-style: none;
	margin-block-end: 0px;
	margin-block-start: 0px;
	padding-inline-start: 0px;
}

.rsvpNegative {
  /*
	background: red;
	background-image: linear-gradient(to right, red, yellow);
  */
	background-image: linear-gradient(to right, red, rgba(0,0,0,0));
	border-radius: 5px 0px 0px 5px;
	float: left;
	height: 20px;
}

.rsvpPositive {
  /*
	background: green;
	background-image: linear-gradient(to left, green, aliceblue);
  */
	background-image: linear-gradient(to left, green, rgba(0,0,0,0));
	border-radius: 0px 5px 5px 0px;
	float: right;
	height: 20px;
}

.sectionDetails {
	display: inline-flex;
	border-color: lightgrey;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}

.switch2w-body {
  background: lightgrey;
  border: solid;
  border-color: grey;
  border-radius: 50px;
	margin-right: 5px; /* for label */
	border-width: 2px 1px 1px 2px;
  width: 150px;
  height: 100px;
  transition: background 300ms linear;
}

.switch2w-toggle {
  border: solid;
  border-radius: 48px;
	border-width: 1px 2px 2px 1px;
  background: darkgrey;
  margin-left: 25px;
  height: 95px;
  width: 95px;
  transition: all 300ms ease;
}

.switch3w-body {
  background: lightgrey;
  border: solid;
  border-color: grey;
  border-radius: 50px;
	margin-right: 5px; /* for label */
	border-width: 2px 1px 1px 2px;
  width: 150px;
  height: 100px;
  transition: background 1s linear;
}

.switch3w-toggle {
  border: solid;
  border-radius: 48px;
	border-width: 1px 2px 2px 1px;
  background: darkgrey;
  margin-left: 25px;
  height: 95px;
  width: 95px;
  transition: all 500ms ease;
}

.updatePassword {
	text-align: right;
}

.updatePassword label {
	font-weight: bold;
}

.userInfo {
	border: solid;
	border-color: lightgray;
	border-radius: 5px;
  border-width: 1px;
	margin: 5px;
  padding: 10px;
}
